body {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#192c3e), to(#09141f));
    background: -webkit-linear-gradient(bottom left, #192c3e 0%, #09141f 100%);
    background: -moz-linear-gradient(bottom left, #192c3e 0%, #09141f 100%);
    background: -o-linear-gradient(bottom left, #192c3e 0%, #09141f 100%);
    background: linear-gradient(to top right, #192c3e 0%, #09141f 100%);
    margin: 0;
    padding: 0;
}

.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.to_signup {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
}